@import 'tailwindcss';
@font-face {
    font-family: 'KakaoBigSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoBigSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

*{
    font-family: 'KakaoBigSans-ExtraBold';
}

button:not(:disabled) {
  cursor: pointer;
}

@keyframes vertical-slide {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

/*! purgecss start ignore */
@media (max-width: 1500px) {
  .hide-below-1500 {
    display: none !important;
  }
}
/*! purgecss end ignore */

.animate-vertical-slide {
  animation: vertical-slide 8s linear infinite;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
